<%- include('header'); -%>

        <div class="header">
            <h1>SOS ATHEnssat</h1>
        </div>

        <div class="content">

            <h2>Conditions d'utilisation</h2>
            <p>sos.athenssat.fr n'utilise pas de cookies.</p>
            <p>Les données saisies sont stockées sur notre serveur et ne seront pas partagées à des tiers. Ces mêmes données seront supprimées dès la fin de la campagne ENSSAT BDE 2020 dans leur intégralité.</p>
            <p>Les données nous servent à vous contacter et à nous rendre sur place grâce à l'adresse pour satisfaire le SOS.</p>
            <p>Aucun autre traitement ne sera fait sur les données</p>

            <p>En validant votre commande, vous acceptez ces conditions.</p>

        </div>

<%- include('footer'); -%>