<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>SOS ATH'ENSSAT</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="css/default.css">

	<link rel="stylesheet" type="text/css" href="css/pure/pure-min.css">
	<link rel="stylesheet" type="text/css" href="css/pure/base-min.css">
	<link rel="stylesheet" type="text/css" href="css/pure/grids-min.css">
	<link rel="stylesheet" type="text/css" href="css/pure/grids-responsive-min.css">

	<link rel="stylesheet" href="adds/leaflet/leaflet.css" />
	<script src="adds/leaflet/leaflet.js"></script>
</head>
<body>

<div id="layout">
    <!-- Menu toggle -->
    <a href="#menu" id="menuLink" class="menu-link">
        <!-- Hamburger icon -->
        <span></span>
    </a>

    <div id="menu" class="athenssat-5-hex-bg">
        <div class="pure-menu">
            <a class="pure-menu-heading athenssat-4-hex-bg" href="/">
            	<img class="pure-img" src="img/logo_250px.png">
        	</a>

            <ul class="pure-menu-list">
                <li class="pure-menu-item"><a href="/" class="pure-menu-link">Accueil</a></li>
                <li class="pure-menu-item"><a href="/about" class="pure-menu-link">A propos</a></li>
            </ul>
        </div>
    </div>

    <div id="main">