<%- include('header'); -%>
<script src="js/token.js"></script>
        <div class="header">
            <h1>SOS ATH'ENSSAT</h1>
        </div>

        <div class="content">

            <form class="pure-form pure-form-aligned" method="post" action="/dominos" id="formulaire">

	            <h2 class="content-subhead">Comment ça marche ?</h2>
	            <p>
	                Il suffit d'entrer les informations de la commande tel que le lieu de retrait et le lieu de dépôt. Enfin, les informations te concernant pour t'appeler ! On ne sait jamais !
	            </p>
                <h2 class="content-subhead">Tarifs</h2>
                <ul>
                    <li>Apéro : 5€</li>
                    <li>Kébab : 5.50€</li>
                    <li>Dominos : Il faut avoir déjà payé en ligne</li>
                </ul>

                <fieldset>
                	<legend>Formulaire de reservation</legend>

                    <div class="pure-control-group">
                        <label style="vertical-align: top;">Nature de la demande</label>

                        <div id="nature_commande" style="display: inline-block;">
                            <label for="nature_commande_dominos" class="pure-radio" style="width: auto">
                                <input id="nature_commande_dominos" type="radio" name="nature_commande" value="livraison" checked>
                                Livraison
                            </label>

                            <br/>

                            <label for="nature_commande_service" class="pure-radio" style="width: auto">
                                <input id="nature_commande_service" type="radio" name="nature_commande" value="service">
                                Service
                            </label>
                        </div>
                    </div>

                    <div class="dominos_div">
                        <label>Pour payer le kebab et les courses il faut envoyer l'argent via Lydia ici : <b>06 06 49 88 52</b></label>
                        <br/>
                        <br/>
                    </div>

                    <div class="pure-control-group">
                        <label for="command_type">Type de la demande</label>
                        <select name="command_type" id="command_type">
                            <option value="ok">Oui</option>
                        </select>
                    </div>                    

                    <div class="pure-control-group dominos_div">
                        <label for="command_name">Nom pour récuperer la commande</label>
                        <input id="command_name" type="text" name="command_name" placeholder="DUPONT" required="">
                    </div>

                    <div class="pure-control-group">
                        <label for="real_name">Nom réél</label>
                        <input id="real_name" name="real_name" type="text" placeholder="Jean DUPONT" required="">
                    </div>

                    <div class="pure-control-group">
                        <label for="phone">Téléphone</label>
                        <input id="phone" type="tel" name="phone" placeholder="En cas de problème" required="">
                    </div>

                    <div class="pure-control-group">
                        <label for="adresse">Adresse</label>
                        <input class="pure-input-2-3" id="adresse" type="text" name="adresse" placeholder="6 Rue de Kerampont, Lannion (- de 5,5 km de l'enssat)" required="">
                    </div>

                    <div class="pure-control-group">
                        <label for="commentaire">Commentaire</label>
                        <textarea class="pure-input-1-2" id="commentaire" type="text" name="commentaire" placeholder="La porte arrière gauche."></textarea> 
                    </div>

                    <br/>

                    <div id="map"></div>

                    <br/>

                    <input type="hidden" id="token" name="token">
                    <input type="hidden" id="marker" name="marker">
                    <p>En validant, vous acceptez les conditions dans la page <a href="/about">à propos</a>.</p>
                    <button type="submit" class="pure-button pure-button-primary">Commander !</button>

                </fieldset>
            </form>

            

        </div>

<%- include('footer'); -%>