<%- include('header'); -%>

        <div class="header">
            <h1>Votre demande de SOS</h1>
        </div>

        <div class="content">

            <h2>Merci pour ta commande SOS.</h2>
            <p>On revient vers toi rapidement !</p>
            <p>Si pas de nouvelle de notre part (erreur technique), alors contact le 0611338326</p>

        </div>

<%- include('footer'); -%>